<nav class="sidebar-tree">
  <details open>
    <summary>THM</summary>
    <ul>
      <li><a href="/markdown-viewer.html?file=/apuntes/thm/1-pre-security/1. Pre Security.md">1. Pre Security</a></li>
      <li><a href="/markdown-viewer.html?file=/apuntes/thm/2-cyber-security-101/2. Cyber Security 101.md">2. Cyber Security 101</a></li>
      <li><a href="/markdown-viewer.html?file=/apuntes/thm/maquinas/Maquinas.md">Maquinas</a></li>
    </ul>
  </details>

  <details>
    <summary>HTB</summary>
    <ul>
      <li><a href="/markdown-viewer.html?file=/apuntes/htb/1-fundamentals/1. Fundamentals.md">1. Fundamentals</a></li>
    </ul>
  </details>
</nav>

